<html>
<head>
    <title>The Awesome Admin</title>
</head>
<body>
<header>
    <h2>Welcome to</h2>

    <h1>The Awesome Admin!</h1>
</header>
<p class="error">{{ ERROR }}</p>
<form action="/login" method="post" enctype="application/x-www-form-urlencoded">
    <div class="form-group">
        <label for="username_input">Username: </label>
        <input type="text" id="username_input" name="username"/>
    </div>
    <div class="form-group">
        <label for="password_input">Password: </label>
        <input type="password" id="password_input" name="password"/>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-default" value="Log in!"/>
    </div>
</form>
</body>
</html>